doctype html
html
    head
    title AddProduct
    body
        h1 Add a new product
        form(method="post")
            input(type="text" name="name" placeholder="Enter product name")
            br
            br
            input(type="number" name="quantity" placeholder="Enter product quantity")
            br
            br
            input(type="submit" name="add product")
