doctype html
html
    head
    title UserRegister
    body
        h1 Add a new user
        form(method="post")
            input(type="text" name="name" placeholder="Enter name")
            br
            br
            input(type="email" name="email" placeholder="Enter email")
            br
            br
            input(type="number" name="phone" placeholder="Enter phone")
            br
            br
            input(type="text" name="password" placeholder="Enter password")
            br
            br
            input(type="submit" name="user registration")
