<h1>
    Forget Password
</h1>

<%
    if (typeof message !== 'undefined') {
        %>
            <h3><%= message %></h3>
        <%
}
%>

<form action="" method="post">
    <input
            style="width: 200px"
            type="email"
            name="email"
            required
            placeholder="Nhập email để lấy lại mật khẩu"
    />
    <br> <br>

    <input type="submit" value="Submit"/>
</form>