<% include('../layouts/header.ejs') %>

<h1> Admin Login </h1>

<%
    if (typeof message !== 'undefined') {
        %>
            <h3><%= message %></h3>
        <%
    }
%>

<form action="" method="post">

    <input type="email" name="email" required placeholder="Enter email" />
    <br><br>
    <input type="password" name="password" required placeholder="Enter password" />
    <br><br>

    <input type="submit" value="Login" />
</form>

<a href="/admin/forget">
    <button>
        Forget Password
    </button>
</a>

<p>-------------------------------</p>
<a href="/login">
    <button>
        Login for User
    </button>
</a>

<% include('../layouts/footer.ejs') %>