<% include('../layouts/header.ejs') %>

<h1> Login </h1>

<%
    if(typeof message !== 'undefined') {
        %>
            <h4><%= message %></h4>
        <%
    }
 %>

<form action="/login" method="post">

    <input type="email" name="email" placeholder="Enter email" />
    <br> <br>
    <input type="password" name="password" placeholder="Enter password" />
    <br> <br>

    <input type="submit" value="Login"  />

</form>

<a href="/forget"><button>Forget Password</button></a>
<br><br>
<a href="/verification"><button>Verification</button></a>
<br><br>
<a href="/register"><button>Register</button></a>

<p>-------------------------------</p>
<a href="/admin">
    <button>
        Login for Admin
    </button>
</a>

<% include('../layouts/footer.ejs') %>